[submodule "src/lichess-bot"]
	path = src/lichess-bot
	url = git@github.com:y0mingzhang/lichess-bot.git
	branch = allie
[submodule "vllm_source"]
	path = vllm_source
	url = https://github.com/vllm-project/vllm.git
